src/command.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema xmlns="http://www.w3.org/2001/XMLSchema"
		attributeFormDefault="unqualified" elementFormDefault="qualified"
		targetNamespace="http://www.epam.library.com/command" 
		xmlns:tns="http://www.epam.library.com/command">

	<element name="library" type="tns:libraryType" />
	<complexType name="commandType">
		<simpleContent>
			<extension base="string">
				<attribute name="name" type="string" use="required" />
			</extension>
		</simpleContent>
	</complexType>
	<complexType name="libraryType">
		<sequence>
			<element name="command" type="tns:commandType" maxOccurs="unbounded"
				minOccurs="1" />
		</sequence>
	</complexType>
</schema>
 